{% extends "inherit.html" %}
{% block title %}System Info{% endblock %}
{% block inner %}
<script>
var testEle = document.getElementById("LCD");
testEle.setAttribute("class","active-menu");
</script>
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            Detector <small>Flow</small>
                        </h1>
						<ol class="breadcrumb">
  <li><a href="{{ url_for('main.index') }}">Home</a></li>
  <li><a href="{{ url_for('main.detoverview') }}">Detector</a></li>
  <li class="active">Flow</li>
</ol>
                    </div>
                </div>


<div class="row">


                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Line Chart
                            </div>
                            <div class="panel-body">
                                <div id="line" style="height:342px; margin:auto;"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Pie Chart
                            </div>
                            <div class="panel-body">
                                <div id="main" style="height:342px; margin:auto;"></div>
                            </div>
                        </div>
                    </div>

                 </div>

<!-- JS Scripts-->

<!--line chart-->
    <script type="text/javascript">
        var a1 = echarts;
        var myChart1 = a1.init(document.getElementById('line'));
        $('.panel-body').resize(function () {
    myChart1.resize();
});
        myChart1.setOption
         ({
         tooltip: {
        trigger: 'axis'
    },

    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: []
    },
    yAxis: {
        type: 'value',
         axisLabel: {
            formatter: '{value} %'
        }
    },
    series: [
        {
            name:'name???',
            type:'line',
            data:[]
        },
    ]
         })

    myChart1.showLoading();    //数据加载完之前先显示一段简单的loading动画
    var names1 = [];    //类别数组
    var brower1 = [];
    $.ajax({
        type: 'get',
        url : "{{ url_for('main.???',token=1) }}",
        dataType: "json",        //返回数据形式为json
        success: function (result) {
            //请求成功时执行该函数内容，result即为服务器返回的json对象
            $.each(result, function (index, item) {
                names1.push(item.name);    //挨个取出类别并填入类别数组
                brower1.push(item.value);
            });
            myChart1.hideLoading();    //隐藏加载动画
            myChart1.setOption({        //加载数据图表
                xAxis: {
                    data: names1
                },
                series: [
                    {data: brower1}
                ]

            });
        },
        error: function (errorMsg) {
            //请求失败时执行该函数
            alert("图表请求数据失败!");
            myChart1.hideLoading();
        }
    });

    </script>

    <script type="text/javascript">

        var a = echarts;
        var myChart = a.init(document.getElementById('main'));
        $('.panel-body').resize(function () {
    myChart.resize();
});
        myChart.setOption
         ({

             tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b}: {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        x: 'left',
        data:[]
    },
    series: [
        {
            name:'name???',
            type:'pie',
            radius: ['50%', '70%'],
            avoidLabelOverlap: false,
            label: {
                normal: {
                    show: false,
                    position: 'center'
                },
                emphasis: {
                    show: true,
                    textStyle: {
                        fontSize: '30',
                        fontWeight: 'bold'
                    }
                }
            },
            labelLine: {
                normal: {
                    show: false
                }
            },
            data:[],
            itemStyle:{

                <!--color: function (value){return "#"+("00000"+((Math.random()*16777215+0.5)>>0).toString(16)).slice(-6); }-->
            }
        }
    ],
     color:['#AE0000', '#00A800']
         })

    myChart.showLoading();    //数据加载完之前先显示一段简单的loading动画
    var names = [];    //类别数组（用于存放饼图的类别）
    var brower = [];
    $.ajax({
        type: 'get',
        url : "{{ url_for('main.???') }}",
        dataType: "json",        //返回数据形式为json
        success: function (result) {
            //请求成功时执行该函数内容，result即为服务器返回的json对象

            $.each(result, function (index, item) {

                names.push(item.name);    //挨个取出类别并填入类别数组
                brower.push({
                    name: item.name,
                    value: item.value
                });

            });

            myChart.hideLoading();    //隐藏加载动画
            myChart.setOption({        //加载数据图表
                legend: {data: names},
                series: [{
                    data: brower
                }]
            });
        },
        error: function (errorMsg) {
            //请求失败时执行该函数
            alert("图表请求数据失败!");
            myChart.hideLoading();
        }
    });
    </script>


				<footer><p>All right reserved. Template by: <a href="http://webthemez.com">WebThemez</a></p></footer>
{% endblock %}